{% extends 'layouts/base.html' %}

{% block content %}
{% load static %}
<style>
    /* Anular el efecto hover */
    input[type="text"]:hover {
        border-color: transparent;
        box-shadow: none;
    }

    /* Definir el borde al hacer clic */
    input[type="text"]:focus {
        border-color: transparent;
        box-shadow: none;
    }
</style>

<main class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2 d-column mt-5 text-center">
           <div class="col">
            <img class="rounded-circle" style="width: 10rem;" src="https://avatars.githubusercontent.com/u/83799877?v=4" alt="">
           </div>

            <div class="col mt-5">
                <h1 class="display-6">¡Hey! Soy Marlon Cuartas, <br>Desarrollador back-end.</h1>
            </div>

            <div class="col text-start mt-5">
                <p class="col-md-10 offset-md-1">
                  Desarrollador back-end, especializándome en esta área, en lenguajes como Python, usando Django y actualmente aprendiendo Java, con una formación autodidacta de hace más de tres años en Platzi y programas TI del gobierno e IBM. He tenido experiencia participando en retos de Platzi, como crear un producto mínimo viable, en la temática de startup, y el desarrollo de un prototipo de interfaz de voz. Ver algunos de mis <a class="link-success link-offset-2 link-underline-opacity-100-hover" href="https://platzi.com/p/Marlonn1/">logros y certificados <i class="fa-solid fa-arrow-up-right-from-square link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" alt="icono de link"></i></a>
                  <br>
                  <br>

                  Soy una persona comprometida con el crecimiento personal y profesional, que no para de aprender y adquirir nuevas habilidades blandas y técnicas. Apasionado por la tecnología y la innovación, con el objetivo de impulsar el desarrollo tecnológico en LATAM. 

                </p>
            </div>

            <div class="offset-md-1 text-start mt-4">
                Ver cv
                <a class="btn btn-outline-secondary border-0 link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="https://drive.google.com/file/d/1pOSQIPmNmf_-cwZm3-bRjC-e91hQy7Of/view?usp=sharing"><i class="fa-regular fa-eye" alt="icono de ver"></i></a>

                

                <p class="mt-1">Ver GitHub 
                  <a class="btn btn-outline-secondary border-0 link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="https://github.com/Marlon4789"><i class="fa-solid fa-arrow-up-right-from-square link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" alt="icono de link"></i></a>
                </p>
                
                <p style="margin-top: -0.8rem;">Ver Linkedin 
                  <a class="btn btn-outline-secondary border-0 link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="https://www.linkedin.com/in/marlon-cuartas-b85610240/"><i class="fa-solid fa-arrow-up-right-from-square link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" alt="icono de link"></i></a>
                </p>

                <div class="col" style="max-width: 15rem; margin-top: -0.9rem;">
                  <div class="input-group offset-md-4 ms-auto">
                      <input id="emailInput" type="text" class="form-control pe-1 border-0" style="margin-left: -0.8rem;" value="cuartasm844@gmail.com" readonly>
                      <button id="copyEmailBtn" alt="copiar" class="btn btn-outline-secondary  me-3 border-0 rounded-2 link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" type="button" data-bs-toggle="popover" data-bs-placement="bottom"><i class="fa-solid fa-copy" alt="icono de copiar"></i></button>
                  </div>
                  
            </div>
            </div>

            

            <div class="col mt-5 d-column">
                <h5 class="text-center display-6" id="skills">Skills</h5>
            </div>

            <div class="col d-flex justify-content-center mt-4">
                <div class="row row-cols-5 gap-3 py-3 d-flex justify-content-center">
                    <div>
                        <img width="45rem" alt="icono" src="https://slow-stock-941.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F589647a6-9a8d-41b5-8e34-585e160eae96%2Ff74349c4-f5a4-407e-8537-00b9c4d062b6%2Ficons8-python-100.png?table=block&id=97412150-f42b-49b6-b245-962811afba90&spaceId=589647a6-9a8d-41b5-8e34-585e160eae96&width=200&userId=&cache=v2">
                    </div>
    
                    <div>
                        <img width="45rem" alt="icono" src="https://slow-stock-941.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F589647a6-9a8d-41b5-8e34-585e160eae96%2Fa0bcf6a2-bd7d-49fa-a8e2-00074471e5d2%2Ficons8-django-a-high-level-python-web-framework-that-encourages-rapid-development-96.png?table=block&id=0e59ff78-cede-4d5f-8827-ab9b1e17d274&spaceId=589647a6-9a8d-41b5-8e34-585e160eae96&width=190&userId=&cache=v2">
                    </div>
    
                    <div>
                        <img width="45rem" alt="icono" src="https://slow-stock-941.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F589647a6-9a8d-41b5-8e34-585e160eae96%2F28be109f-e02e-45bd-8f5c-564458d36a6d%2Ficons8-postgresql-100.png?table=block&id=d7e25772-86e0-4725-a934-f257e4e53e93&spaceId=589647a6-9a8d-41b5-8e34-585e160eae96&width=200&userId=&cache=v2">
                    </div>

                    <div>
                      <img width="45rem" alt="icono" src="https://slow-stock-941.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F589647a6-9a8d-41b5-8e34-585e160eae96%2Fa863ed9c-d10b-450d-a25d-65f1378d6678%2Ficons8-mysql-96.png?table=block&id=1da698f7-1c63-4ad2-b0be-2785f109f6ba&spaceId=589647a6-9a8d-41b5-8e34-585e160eae96&width=190&userId=&cache=v2">
                  </div>
    
                    <div>
                        <img width="45rem" alt="icono" src="https://slow-stock-941.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F589647a6-9a8d-41b5-8e34-585e160eae96%2Fca2be8c2-324d-4658-b40d-c786d8b4a11c%2Ficons8-java-100.png?table=block&id=4da41bb2-a7a0-4d9a-ab90-65441c71774e&spaceId=589647a6-9a8d-41b5-8e34-585e160eae96&width=200&userId=&cache=v2">
                    </div>
    
                    <div>
                        <img width="45rem" alt="icono" src="https://slow-stock-941.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F589647a6-9a8d-41b5-8e34-585e160eae96%2F6f822e2b-3862-403f-96ff-111f2b495b38%2Ficons8-bootstrap-100.png?table=block&id=94ef8930-97c4-4982-92e3-2c5a8211c617&spaceId=589647a6-9a8d-41b5-8e34-585e160eae96&width=200&userId=&cache=v2">
                    </div>
    
                    <div>
                        <img width="45rem" alt="icono" src="https://slow-stock-941.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F589647a6-9a8d-41b5-8e34-585e160eae96%2Fc071598a-3c03-47ee-a1a0-fbb0b9290d72%2Ficons8-php-100.png?table=block&id=d8bd31ba-7c3c-444f-87aa-50851cc6b8f3&spaceId=589647a6-9a8d-41b5-8e34-585e160eae96&width=200&userId=&cache=v2">
                    </div>

                    <div>
                        <img width="45rem" alt="icono" src="https://slow-stock-941.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F589647a6-9a8d-41b5-8e34-585e160eae96%2F18998cee-4011-49a4-843b-09d732a95d78%2Ficons8-linux-100.png?table=block&id=8574c8c5-bc17-4ad2-8f20-d0d068cc3aa6&spaceId=589647a6-9a8d-41b5-8e34-585e160eae96&width=200&userId=&cache=v2">
                    </div>
    
                </div>
            </div>
        </div>

        <!-- proyectos -->
        <div class="col-12 mt-4 d-column">
            <h5 class="text-center display-6" id="proyectos">Proyectos Django</h5>
        </div>
        <div class="row row-cols-2 mx-auto d-flex justify-content-center mt-3 gap-4 py-4" style="max-width: 50rem;">
            <!-- card 1 -->
            <div class="card text-start rounded-0" style="width: 18rem; background-color: rgba(20, 20, 20, 0.793);">
              <img class="card-img-top mt-2 rounded-0" style="height: 13rem; object-fit: cover;" src="https://slow-stock-941.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F589647a6-9a8d-41b5-8e34-585e160eae96%2Ffbff60c2-db45-431f-bb0a-64ccd7c1f536%2FCaptura_de_pantalla_2024-06-14_a_las_08.30.23.png?table=block&id=2a855ec4-468e-4119-8c68-c73c0231f44a&spaceId=589647a6-9a8d-41b5-8e34-585e160eae96&width=1420&userId=&cache=v2" alt="imagen de login">
              <div class="card-body">
              <h5 class="card-title display-6 fs-6">Sistema de inicio de sesión con restablecimiento de contraseña por email.</h5>
              <a href="{% url 'home_login' %}" class="btn btn-outline-success rounded-0 btn-sm">Ir al sitio <i class="fa-solid fa-arrow-up-right-from-square" alt="icono"></i></a>
              <a type="button" class="btn btn-outline-success rounded-0 btn-sm ms-1" data-bs-toggle="modal" data-bs-target="#exampleModal">Ver galeria <i class="fa-regular fa-image" alt="icono"></i></a>
              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-lg">
                  <div class="modal-content">
                      <div class="modal-header ">
                      <h5 class="modal-title" id="exampleModalLabel">Galeria</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          
                          <div id="carouselExample" class="carousel">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="https://slow-stock-941.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F589647a6-9a8d-41b5-8e34-585e160eae96%2Ffbff60c2-db45-431f-bb0a-64ccd7c1f536%2FCaptura_de_pantalla_2024-06-14_a_las_08.30.23.png?table=block&id=2a855ec4-468e-4119-8c68-c73c0231f44a&spaceId=589647a6-9a8d-41b5-8e34-585e160eae96&width=1420&userId=&cache=v2" class="d-block w-100" alt="imagen login">
                                </div>
                                <div class="carousel-item">
                                  <img src="https://slow-stock-941.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F589647a6-9a8d-41b5-8e34-585e160eae96%2Ff4d1f679-f263-43a7-8ff3-c998eb830578%2FCaptura_de_pantalla_2024-06-14_a_las_08.30.10.png?table=block&id=33a337f3-9bf0-419b-b5a1-c24f2cb907b2&spaceId=589647a6-9a8d-41b5-8e34-585e160eae96&width=1420&userId=&cache=v2" class="d-block w-100" alt="imagen de registrarse">
                                </div>
                                <div class="carousel-item">
                                  <img src="https://slow-stock-941.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F589647a6-9a8d-41b5-8e34-585e160eae96%2F5516c6e4-1848-4608-9b1d-e682c8303613%2FCaptura_de_pantalla_2024-06-14_a_las_08.32.21.png?table=block&id=90dc8052-4324-4558-84a7-511dbf7e3aa2&spaceId=589647a6-9a8d-41b5-8e34-585e160eae96&width=1420&userId=&cache=v2" class="d-block w-100" alt="imagen de perfil">
                                </div>
                                <div class="carousel-item">
                                  <img src="https://slow-stock-941.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F589647a6-9a8d-41b5-8e34-585e160eae96%2F7731eb1f-1411-499d-8954-0ef50edf9641%2FCaptura_de_pantalla_2024-06-14_a_las_08.32.48.png?table=block&id=64a99b50-e0d3-41cc-aa3d-5766c0a098c1&spaceId=589647a6-9a8d-41b5-8e34-585e160eae96&width=1420&userId=&cache=v2" class="d-block w-100" alt="imagen de restablecer contraseña">
                                </div>
                                <div class="carousel-item">
                                  <img src="https://slow-stock-941.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F589647a6-9a8d-41b5-8e34-585e160eae96%2F3de674e3-c6b9-4e0c-8c28-a6b01b080598%2FCaptura_de_pantalla_2024-06-14_a_las_08.33.45.png?table=block&id=8255c34b-e08e-42f8-8c06-08067b9d8271&spaceId=589647a6-9a8d-41b5-8e34-585e160eae96&width=1420&userId=&cache=v2" class="d-block w-100" alt="imagen de restablecer contraseña">
                                </div>
                                <div class="carousel-item">
                                  <img src="https://slow-stock-941.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F589647a6-9a8d-41b5-8e34-585e160eae96%2Fad0fac21-720a-4378-973a-4876e388c040%2FScreenshot_2024-05-31_at_16-40-46_Password_reset_on_127.0.0.1_8000_-_cuartasm844gmail.com_-_Gmail.png?table=block&id=bc80dc39-d6f4-4d1b-93a7-5942d52e8583&spaceId=589647a6-9a8d-41b5-8e34-585e160eae96&width=1420&userId=&cache=v2" class="d-block w-100" alt="imagen de correo">
                                </div>
                                <div class="carousel-item">
                                  <img src="https://slow-stock-941.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F589647a6-9a8d-41b5-8e34-585e160eae96%2F7a60aa50-9191-4203-9e79-20e9133e43af%2FCaptura_de_pantalla_2024-06-14_a_las_09.30.19.png?table=block&id=2e226b39-8489-4959-a736-fc95da294382&spaceId=589647a6-9a8d-41b5-8e34-585e160eae96&width=1420&userId=&cache=v2" class="d-block w-100" alt="imagen de crear nueva contraseña">
                                </div>
                                <div class="carousel-item">
                                  <img src="https://slow-stock-941.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F589647a6-9a8d-41b5-8e34-585e160eae96%2F7824f0d9-f342-4b6b-a984-e5beb565fba0%2FCaptura_de_pantalla_2024-06-14_a_las_09.31.04.png?table=block&id=aad02910-e6d3-4ec9-98b5-3d72f367e29d&spaceId=589647a6-9a8d-41b5-8e34-585e160eae96&width=1420&userId=&cache=v2" class="d-block w-100" alt="imagen de contraseña cambiada con exito">
                                </div>
                                <div class="carousel-item">
                                  <img src="https://slow-stock-941.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F589647a6-9a8d-41b5-8e34-585e160eae96%2F005eae51-f2cd-425c-a3f7-be1093334262%2FCaptura_de_pantalla_2024-06-14_a_las_08.32.57.png?table=block&id=36b69b9c-e49e-4f92-ad1c-f2cce98d3382&spaceId=589647a6-9a8d-41b5-8e34-585e160eae96&width=1420&userId=&cache=v2" class="d-block w-100" alt="imagen de eliminar cuenta">
                                </div>
                                <div class="carousel-item">
                                  <img src="https://slow-stock-941.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F589647a6-9a8d-41b5-8e34-585e160eae96%2Fb29bb08b-6d55-45ef-9954-19884f39b58c%2FCaptura_de_pantalla_2024-06-14_a_las_09.43.40.png?table=block&id=fbe77679-5d37-41a6-8b3b-967cd135a737&spaceId=589647a6-9a8d-41b5-8e34-585e160eae96&width=1420&userId=&cache=v2" class="d-block w-100" alt="imagen de cuenta eliminada">
                                </div>
                                
                              </div>
                              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                                <span class="fs-3 link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" aria-hidden="true"><i class="fa-solid fa-angle-left" alt="icono"></i></span>
                                <span class="visually-hidden">Previous</span>
                              </button>
                              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                                <span class="fs-3 link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" aria-hidden="true"><i class="fa-solid fa-angle-right" alt="icono"></i></span>
                                <span class="visually-hidden">Next</span>
                              </button>
                            </div>

                      </div>
                      <div class="modal-footer">
                      <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cerrar</button>
                      </div>
                  </div>
                  </div>
              </div>
              </div>
          </div>

          <!-- card 2 -->
          <div class="card text-start rounded-0" style="width: 18rem; background-color: rgba(20, 20, 20, 0.793);">
              <img class="card-img-top mt-2 rounded-0" style="height: 13rem; object-fit: cover;" src="https://slow-stock-941.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F589647a6-9a8d-41b5-8e34-585e160eae96%2F0ddb8bb6-7ce2-43e2-95d9-61d2e088ba90%2FScreenshot_2024-05-30_at_20-45-07_Product_List__Django_REST_framework.png?table=block&id=cbf48d17-7336-4786-8c0d-1d948faf3e49&spaceId=589647a6-9a8d-41b5-8e34-585e160eae96&width=770&userId=&cache=v2" alt="imagen de api drf">
              <div class="card-body">
              <h5 class="card-title display-6 fs-6">API Django Rest Framework de usuarios y productos para marketplace.</h5>
              <a href="{% url 'home_api_coffee_store' %}" class="btn btn-outline-success rounded-0 btn-sm">Ir al sitio <i class="fa-solid fa-arrow-up-right-from-square" alt="icono"></i></a>
              <a type="button" class="btn btn-outline-success rounded-0 btn-sm ms-1" data-bs-toggle="modal" data-bs-target="#exampleModal2">Ver galeria <i class="fa-regular fa-image" alt="icono"></i></a>
              <!-- Modal -->
              <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-lg">
                  <div class="modal-content">
                      <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel2">Galeria de API DRF</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                      
                          <div id="carouselExample2" class="carousel">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="https://slow-stock-941.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F589647a6-9a8d-41b5-8e34-585e160eae96%2Fcfb78d83-f42a-4572-8fea-b0e03a14d36b%2FCaptura_de_pantalla_2024-05-31_a_las_17.32.25.png?table=block&id=fc54dbcc-fd8e-452d-9168-01695d05b4aa&spaceId=589647a6-9a8d-41b5-8e34-585e160eae96&width=1420&userId=&cache=v2" class="d-block w-100" alt="imagen de api de login">
                                </div>
                                <div class="carousel-item">
                                  <img src="https://slow-stock-941.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F589647a6-9a8d-41b5-8e34-585e160eae96%2Fc71007cf-9d18-4c8e-8196-75ad5e4c482e%2FCaptura_de_pantalla_2024-05-31_a_las_17.31.10.png?table=block&id=1a7c4ed8-02a6-4db5-93d5-36f3d3b18744&spaceId=589647a6-9a8d-41b5-8e34-585e160eae96&width=1420&userId=&cache=v2" class="d-block w-100" alt="imagen de api usuarios">
                                </div>
                                <div class="carousel-item">
                                  <img src="https://slow-stock-941.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F589647a6-9a8d-41b5-8e34-585e160eae96%2F747c5600-a5b5-4762-bc67-baf2f3410122%2FCaptura_de_pantalla_2024-06-12_a_las_11.12.00.png?table=block&id=b27e0651-5124-4170-ae0b-1da26e9ddb41&spaceId=589647a6-9a8d-41b5-8e34-585e160eae96&width=1420&userId=&cache=v2" class="d-block w-100" alt="imagen de api de productos">
                                </div>
                                <div class="carousel-item">
                                  <img src="https://slow-stock-941.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F589647a6-9a8d-41b5-8e34-585e160eae96%2Fe1ae571e-6950-4006-918c-448c74015417%2FCaptura_de_pantalla_2024-05-31_a_las_17.32.07.png?table=block&id=d21c018d-4ac0-4256-bb3e-8753bd44b1f3&spaceId=589647a6-9a8d-41b5-8e34-585e160eae96&width=1420&userId=&cache=v2" class="d-block w-100" alt="imagen de api de productos">
                                </div>
                                
                              </div>
                              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample2" data-bs-slide="prev">
                                <span class="fs-3 link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" aria-hidden="true"><i class="fa-solid fa-angle-left"></i></span>
                                <span class="visually-hidden">Previous</span>
                              </button>
                              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample2" data-bs-slide="next">
                                <span class="fs-3 link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" aria-hidden="true"><i class="fa-solid fa-angle-right"></i></span>
                                <span class="visually-hidden">Next</span>
                              </button>
                            </div>

                      </div>
                      <div class="modal-footer">
                      <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cerrar</button>
                      </div>
                  </div>
                  </div>
              </div>
              </div>
          </div>

          <!-- card 3 -->
          <div class="card text-start rounded-0" style="width: 18rem; background-color: rgba(20, 20, 20, 0.793);">
              <img class="card-img-top mt-2 rounded-0" style="height: 13rem; object-fit: cover;" src="https://slow-stock-941.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F589647a6-9a8d-41b5-8e34-585e160eae96%2F28e17f73-3b76-4479-b642-029b920c7e1c%2FScreenshot_2024-05-30_at_20-06-52_Notion__The_all-in-one_workspace_for_your_notes_tasks_wikis_and_databases.png?table=block&id=29e442cc-2b69-44de-ac50-09ee74205841&spaceId=589647a6-9a8d-41b5-8e34-585e160eae96&width=770&userId=&cache=v2" alt="imagen de diagrama">
              <div class="card-body">
              <h5 class="card-title display-6 fs-6">Prototipo de interfaz de voz y usabilidad en experiencia conversacional.</h5>
              <a href="https://slow-stock-941.notion.site/Proyecto-Helen-asistente-personal-d14b48090a694b7ebb79135f60dd902f" class="btn btn-outline-success rounded-0 btn-sm">Ir al sitio <i class="fa-solid fa-arrow-up-right-from-square" alt="icono"></i></a>
              <a type="button" class="btn btn-outline-success rounded-0 btn-sm ms-1" data-bs-toggle="modal" data-bs-target="#exampleModal3">Ver galeria <i class="fa-regular fa-image" alt="icono"></i></a>
              <!-- Modal -->
              <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-lg">
                  <div class="modal-content">
                      <div class="modal-header ">
                      <h5 class="modal-title" id="exampleModalLabel3">Galeria de prototipo de chat voz</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                      
                          <div id="carouselExample3" class="carousel">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="https://slow-stock-941.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F589647a6-9a8d-41b5-8e34-585e160eae96%2Fb3d91f54-9d7e-446d-86e8-aa47dd36c210%2FCaptura_de_pantalla_2024-05-31_a_las_18.55.18.png?table=block&id=83583112-d458-4faa-8238-efcc0e319ec4&spaceId=589647a6-9a8d-41b5-8e34-585e160eae96&width=1420&userId=&cache=v2" class="d-block w-100" alt="imagen proyecto helen">
                                </div>
                                <div class="carousel-item">
                                  <img src="https://slow-stock-941.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F589647a6-9a8d-41b5-8e34-585e160eae96%2Fef7dc0e7-61c3-4715-8715-140dc47d3bf2%2FProyecto-_Helen(1).png?table=block&id=40950d89-2798-4ea8-9e05-aea9c5bd67cb&spaceId=589647a6-9a8d-41b5-8e34-585e160eae96&width=1420&userId=&cache=v2" class="d-block w-100" alt="diagrama de flujo figma">
                                </div>
                                <div class="carousel-item">
                                  <img src="https://slow-stock-941.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F589647a6-9a8d-41b5-8e34-585e160eae96%2Fcac60cf6-6426-422e-ab82-6a6f1baaea1c%2FProyecto-_Helen(2).png?table=block&id=26ed021d-9183-47b3-ac06-b5acf4136358&spaceId=589647a6-9a8d-41b5-8e34-585e160eae96&width=1420&userId=&cache=v2" class="d-block w-100" alt="diagrama de flujo figma dos">
                                </div>
                                <div class="carousel-item">
                                  <img src="https://slow-stock-941.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F589647a6-9a8d-41b5-8e34-585e160eae96%2Fa8eea6c2-9016-40be-9c8c-e9f1a40b6ca0%2FNew_Flow(1).png?table=block&id=81dacb2d-c343-45bd-af7c-c17c8480c34c&spaceId=589647a6-9a8d-41b5-8e34-585e160eae96&width=1420&userId=&cache=v2" class="d-block w-100" alt="imagen de prototipo de voz">
                                </div>
                              </div>
                              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample3" data-bs-slide="prev">
                                <span class="fs-3 link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" aria-hidden="true"><i class="fa-solid fa-angle-left"></i></span>
                                <span class="visually-hidden">Previous</span>
                              </button>
                              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample3" data-bs-slide="next">
                                <span class="fs-3 link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" aria-hidden="true"><i class="fa-solid fa-angle-right"></i></span>
                                <span class="visually-hidden">Next</span>
                              </button>
                            </div>

                      </div>
                      <div class="modal-footer">
                      <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cerrar</button>
                      </div>
                  </div>
                  </div>
              </div>
              </div>
          </div>

          <!-- card 4 -->
          <div class="card text-start rounded-0" style="width: 18rem; background-color: rgba(20, 20, 20, 0.793);">
              <img class="card-img-top mt-2 rounded-0" style="height: 13rem; object-fit: cover;" src="https://slow-stock-941.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F589647a6-9a8d-41b5-8e34-585e160eae96%2Fc6921bef-1253-47f1-b073-95a5fa0c3af7%2FScreenshot_2024-05-30_at_20-20-39_Blog-tech(1).png?table=block&id=a69b3d80-caac-46cc-9c73-de3af522a95b&spaceId=589647a6-9a8d-41b5-8e34-585e160eae96&width=770&userId=&cache=v2" alt="imagen de post">
              <div class="card-body">
              <h5 class="card-title display-6 fs-6">Sistema de creación de post para blogs con editor de texto integrado.</h5>
              <a href="{% url 'create_post' %}" class="btn btn-outline-success rounded-0 btn-sm">Ir al sitio <i class="fa-solid fa-arrow-up-right-from-square" alt="icono"></i></a>
              <a type="button" class="btn btn-outline-success rounded-0 btn-sm ms-1" data-bs-toggle="modal" data-bs-target="#exampleModal4">Ver galeria <i class="fa-regular fa-image" alt="icono"></i></a>
              <!-- Modal -->
              <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-lg">
                  <div class="modal-content">
                      <div class="modal-header ">
                      <h5 class="modal-title" id="exampleModalLabel4">Galeria de crear Post</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                      
                          <div id="carouselExample4" class="carousel">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="https://slow-stock-941.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F589647a6-9a8d-41b5-8e34-585e160eae96%2F1a44bfba-1abb-49a3-a78f-574fcccf00c6%2FCaptura_de_pantalla_2024-05-31_a_las_19.26.20.png?table=block&id=3d96367a-b9cb-4f2c-a417-9160d8477865&spaceId=589647a6-9a8d-41b5-8e34-585e160eae96&width=1420&userId=&cache=v2" class="d-block w-100" alt="imagen de crear post">
                                </div>
                                <div class="carousel-item">
                                  <img src="https://slow-stock-941.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F589647a6-9a8d-41b5-8e34-585e160eae96%2F28ddb68c-3ff7-4ed6-a986-076afeddb65f%2FCaptura_de_pantalla_2024-05-31_a_las_19.35.20.png?table=block&id=cbb61738-a28c-4ce3-88f3-9e89d96bbc93&spaceId=589647a6-9a8d-41b5-8e34-585e160eae96&width=1420&userId=&cache=v2" class="d-block w-100" alt="imagen de ver posts">
                                </div>
                                <div class="carousel-item">
                                  <img src="https://slow-stock-941.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F589647a6-9a8d-41b5-8e34-585e160eae96%2Ff96bd177-2946-4625-8890-83e1b805b20a%2FCaptura_de_pantalla_2024-05-31_a_las_19.35.48.png?table=block&id=d320a01d-ad71-40f7-9ba1-e5fd48533832&spaceId=589647a6-9a8d-41b5-8e34-585e160eae96&width=1420&userId=&cache=v2" class="d-block w-100" alt="imagen de ver post">
                                </div>
                              </div>
                              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample4" data-bs-slide="prev">
                                <span class="fs-3 link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" aria-hidden="true"><i class="fa-solid fa-angle-left"></i></span>
                                <span class="visually-hidden">Previous</span>
                              </button>
                              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample4" data-bs-slide="next">
                                <span class="fs-3 link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" aria-hidden="true"><i class="fa-solid fa-angle-right"></i></span>
                                <span class="visually-hidden">Next</span>
                              </button>
                            </div>
                      </div>
                      <div class="modal-footer">
                      <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cerrar</button>
                      </div>
                  </div>
                  </div>
              </div>
              </div>
          </div>
        </div>

        <div class="col-12 mt-5 d-flex">
          <a href="#" class="btn btn-outline-secondary border-success border-2 rounded-circle link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover mx-auto"><i class="fa-solid fa-arrow-up"></i></a>
        </div>

    </div>
</main>

{% endblock %}